.interacto-navbar{
    background-color: #47d7ac;
    color: #13294b;
}
h1{
 margin-right: 2%;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
}
mat-grid-tile {
    background: lightsalmon;
  }