<div class="container">
    <div class="card">
        <div class="card-body">
          <h1 class="card-title">About us</h1>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>
                We started working at Interacto in 2023. The team is composed of: Andreea Scortaru, Flavius Cimponeri, Costel Dobrica & Karim Husein. 
                Our goal is to help people with disabilities and make their lives easier. 
              </p>
          </li>
          <li class="list-group-item">
            <p>
                Since artificial intelligence is becoming more and more present in our everyday life, any new application is absolutely necessary to use this technology.
            </p>
          </li>
          <li class="list-group-item">
            <p>
                Interacto is built using 2 main artifficial features: Sign recognition and OCR bills. In the future we are thinking to integrate also other modules for people with disabilities.
            </p>
          </li>
        </ul>
      </div>
      
</div>
