.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  background: linear-gradient(90deg,rgba(2,0,.6,1)0%,rgba(34, 102, 82, 1)35%,rgba(215, 71, 114, 1) 100%);

}
.box div{
  position:absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,266,0.8);
}
.box div:nth-child(1){
  top: 25%;
  left:42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left:50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(3){
  top: 32%;
  left:45%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 27%;
  left:60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left:22%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left:40%;
  animation: animate 12s linear infinite;
 }
 .box div:nth-child(7){
  top: 60%;
  right:30%;
  animation: animate 15s linear infinite;
 }
 .box div:nth-child(8){
  top: 32%;
  left:25%;
  animation: animate 16s linear infinite;
 }
 .box div:nth-child(9){
  top: 90%;
  right:25%;
  animation: animate 9s linear infinite;
 }
 .box div:nth-child(10){
  top: 27%;
  left: 90%;
  animation: animate 5s linear infinite;
 }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home-button {
  background-color: #47d7ac;
  color: #551A8B;
  font-weight: bolder;
  font-size: larger;
  padding: 5%;
}
.box {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    position: relative;
}
a {
  text-decoration: none;
}

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
}