.container{
  height:100vh;
  margin: 0px;
  background-color: #13294b;
}

.video-image{
  display: flex;
  gap:20px;
  justify-content: center;
}

#canvas{
  margin-top: 60px;
  border-style: solid;
  border-color: #47d7ac;
}

.video{
  margin-top: 60px;
  border-style: solid;
  border-color: #47d7ac;
}

.stopCameraButton{
  width: 100px;
  height: 40px;
  background-color: #47d7ac;
}

.button-wrapper{
display: flex;
justify-content: center;
margin-top: 60px;
}
