<div class="container">
<footer>
    <div class="row">
      <div class="col-md-4">
        <h4>About Us</h4>
      </div>
      <div class="col-md-4">
        <h4>Contact Us</h4>
      </div>
      <div class="col-md-4">
        <ul class="social-icons">
          <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
          <li><a href="#"><mat-icon>subscriptions</mat-icon></a></li>
          <li><a href="#"><mat-icon>cloud</mat-icon></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>