<div class="container">
<footer>
    <div class="row">
      <div class="col-md-4">
        <h4><a routerLink="/interacto/about-us" routerLinkActive="active">About Us</a></h4>
      </div>
      <div class="col-md-4">
        <h4><a routerLink="/interacto/contact-us" routerLinkActive="active">Contact Us</a></h4>
      </div>
      <div class="col-md-4">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com"><mat-icon>facebook</mat-icon></a></li>
          <li><a href="https://www.youtube.com"><mat-icon>subscriptions</mat-icon></a></li>
          <li><a href="https://www.instagram.com"><mat-icon>cloud</mat-icon></a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>